# Python / Flask
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.db
instance/
.env
venv/
.env/
*.sqlite3

# VS Code
.vscode/

# Logs
*.log

# Node / Tailwind
node_modules/
dist/
build/
*.lock
package-lock.json

# System
.DS_Store
Thumbs.dbS