{% extends "base.html" %}

{% block title %}Про нас{% endblock %}

{% block content %}
<h1 class="text-2xl font-bold mb-4">Про нас</h1>

<p>Це проєкт 3 лабораторної роботи зі створення сайту, який створили студенти групи ІПЗ-21:</p>

<ul class="mt-4 space-y-2">
    <li class="flex items-center">
        <span class="font-semibold text-blue-600 mr-2">Семенов Владислав</span>
        <span class="text-gray-600">– студент</span>
    </li>
    <li class="flex items-center">
        <span class="font-semibold text-blue-600 mr-2">Бондарук Владислав</span>
        <span class="text-gray-600">– студент</span>
    </li>
    <li class="flex items-center">
        <span class="font-semibold text-blue-600 mr-2">Сасін Павло</span>
        <span class="text-gray-600">– студент</span>
    </li>
</ul>
{% endblock %}